#dropdown-menu-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4 .nav .link,
#dropdown-menu-4 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-4 .navbar,
#dropdown-menu-4 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4 .dropdown-menu a:hover,
#dropdown-menu-4 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-4 .navbar-toggler {
  color: #000000;
}
#content5-6 DIV {
  font-size: 16px;
}
#content5-6 .mbr-section-title {
  font-size: 16px;
  color: #42244b;
  text-align: center;
}
#dropdown-menu-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-7 .nav .link,
#dropdown-menu-7 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-7 .navbar,
#dropdown-menu-7 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-7 .dropdown-menu a:hover,
#dropdown-menu-7 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-7 .navbar-toggler {
  color: #000000;
}
#slider-9 H2 {
  color: #ffffff;
}
#dropdown-menu-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-c .nav .link,
#dropdown-menu-c .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-c .navbar,
#dropdown-menu-c .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-c .dropdown-menu a:hover,
#dropdown-menu-c .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-c .navbar-toggler {
  color: #000000;
}
#content5-e P {
  font-size: 16px;
}
#image2-f DIV {
  color: #f2f2f2;
}
#image2-g DIV {
  color: #f2f2f2;
}
#content1-k P {
  font-size: 16px;
}
#dropdown-menu-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-n .nav .link,
#dropdown-menu-n .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-n .navbar,
#dropdown-menu-n .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-n .dropdown-menu a:hover,
#dropdown-menu-n .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-n .navbar-toggler {
  color: #000000;
}
#content5-p P {
  font-size: 16px;
}
#content1-v P {
  font-size: 16px;
}
#dropdown-menu-x .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-x .nav .link,
#dropdown-menu-x .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-x .navbar,
#dropdown-menu-x .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-x .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-x .dropdown-menu a:hover,
#dropdown-menu-x .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-x .navbar-toggler {
  color: #000000;
}
#content1-13 DIV {
  font-size: 16px;
}
#dropdown-menu-18 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-18 .nav .link,
#dropdown-menu-18 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-18 .navbar,
#dropdown-menu-18 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-18 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-18 .dropdown-menu a:hover,
#dropdown-menu-18 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-18 .navbar-toggler {
  color: #000000;
}
#content1-1i P {
  font-size: 16px;
}
#content1-1k P {
  font-size: 16px;
}
#content1-1m P {
  font-size: 16px;
}
#content1-1o P {
  font-size: 16px;
}
#dropdown-menu-1t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1t .nav .link,
#dropdown-menu-1t .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-1t .navbar,
#dropdown-menu-1t .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1t .dropdown-menu a:hover,
#dropdown-menu-1t .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1t .navbar-toggler {
  color: #000000;
}
#msg-box4-1v .lead P {
  text-align: left;
}
#content1-1w P {
  font-size: 16px;
}
#content1-1y P {
  font-size: 16px;
}
#content1-20 P {
  font-size: 16px;
}
#content1-22 P {
  font-size: 16px;
}
